<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Forget</title>
  <link rel="stylesheet" href="../resetpassword/resetpassword.component.css">
</head>

<body>
  <img src="../pickawood-gf8e6XvG_3E-unsplash.jpg" class="img">
  <div class="center">
    <h1>Reset</h1>
    <form method="PATCH" class="col s12 white" #userRegistrationForm="ngForm"
      (ngSubmit)="OnSubmit(userRegistrationForm)" >
      <div class="txt_field">
        <input class="validate" type="text" name="MobileNumber" #Email="ngModel" [(ngModel)]="pass.MobileNumber"
          required minlength="3">
        <span></span>
        <label>MobileNumber</label>
      </div>
      Select Security Question
      <select class="form-select" aria-label="Default select example" name="SecurityQuestion" #SecurityQuestion="ngModel" [(ngModel)]="pass.SecurityQuestion">
       <option value="Which City You Have Born?">Which City You Have Born?</option>
        <option value="What is your First Mobile?">What is your First Mobile?</option>
        <option value="What is Your First Pet Name?">What is Your First Pet Name?</option>
      </select>
      <div class="txt_field">
        <input class="validate" type="text" name="SecurityAnswer" #SecurityAnswer="ngModel" [(ngModel)]="pass.SecurityAnswer"
          required minlength="3">
        <span></span>
        <label>Type Your Answer</label>
      </div>
      <div class="txt_field">
        <input class="validate" type="text" name="Password" #Password="ngModel" [(ngModel)]="pass.Password" required minlength="3">
        <span></span>
        <label>New Password</label>
      </div>
      <div class="txt_field">
        <input class="validate" type="password" name="ConfirmPassword" #ConfirmPassword="ngModel" [(ngModel)]="pass.ConfirmPassword"
          required minlength="3">
        <span></span>
        <label>Confirm Password</label>
      </div>
      <div *ngIf="errorMessage" style="color: red;">
        Please enter valid New Password or valid Message
    </div>
      <input type="submit" value="Reset Password">
      <div class="signup_link">
      </div>
    </form>
  </div>

</body>

</html>
<script>
    function checkPassword(form) {
      Password1 = form.Password1.value;
      Password = form.Password.value;

        if (Password1 == '')
            alert("Please enter Password");

        else if (Password == '')
            alert("Please enter confirm password");
  
        else if (Password1 != Password) {
            alert("\nPassword did not match: Please try again...")
            return false;
        }
    }
</script>